:root {
    --main-bg-color: #203062;
    --main-text-color: #ED8A8D;
    --main-text-accent: #EFEBED;
    --dark-blue: #313C79;
    --dark-purple: #62486C;
    --purple: #836195;
    --red: #DB7082;
    --pink: #F6C6CA;
    --light: #d8dbe0;
    --dark: #28292c;
}

* {
    background-color: var(--main-bg-color);
    box-sizing: border-box;
    color: var(--main-text-color);
    font-family: Inconsolata, monospace, serif;
}

body {
    font-size: 1.5em;
    margin: 2em 5em;
}

h1 {
    font-family: 'Press Start 2P', monospace, serif;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav .nav-list {
    font-size: 1.3em;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav .nav-list-item {
    display: inline-block;
}

nav .nav-list-item + .nav-list-item::before{
    content: '|';
}

nav .nav-link {
    text-decoration: none;
}

nav .nav-link.current {
    color: var(--main-text-accent);
}

p {
    text-align: justify;
}

.portfolio-link-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio-link {
    border: 2px solid var(--main-text-color);
    border-radius: 1em;
    /* color: var(--main-text-accent); */
    font-weight: bold;
    height: 2em;
    padding-top: 0.3em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 22%;
}

.portfolio-link:hover {
    background-color: var(--main-text-accent);
    /* color: var(--main-text-accent); */
}

.portfolio-link:active {
    transform: scale(0.93);
}

/* color switch toggle */
.toggle-switch {
    position: relative;
    width: 100px;
}
  
label {
    border-radius: 50%;
    cursor: pointer;
    height: 50px;
    position: absolute;
    width: 100%;
}
  
input {
    position: absolute;
    display: none;
}
  
.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    transition: 0.3s;
    background-color: var(--main-text-color);
}
  
input:checked ~ .slider {
    background-color: var(--main-text-color);
}
  
.slider::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 7px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: inset 16px -1px 0px 0px var(--main-text-accent);
    background-color: var(--main-text-color);
    transition: 0.3s;
}

input:checked ~ .slider::before {
    transform: translateX(46px);
    background-color: var(--main-text-accent);
    box-shadow: none;
}

@media screen and (max-width: 1600px) {
    .portfolio-link {
        margin: 0.5em;
        width: 60%;
    }
}