:root {
    --main-bg-color: #203062;
    --main-text-color: #ED8A8D;
    --main-text-accent: #EFEBED;
    --dark-blue: #313C79;
    --dark-purple: #62486C;
    --purple: #836195;
    --red: #DB7082;
    --pink: #F6C6CA;
}

* {
    background-color: var(--main-bg-color);
    box-sizing: border-box;
    color: var(--main-text-color);
    font-family: Inconsolata, monospace, serif;
}

body {
    font-size: 1.5em;
    margin: 2em 5em;
}

h1 {
    font-family: 'Press Start 2P', monospace, serif;
    /* font-size: 2.5em; */
}

nav .nav-list {
    font-size: 1.3em;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav .nav-list-item {
    display: inline-block;
}

nav .nav-list-item + .nav-list-item::before{
    content: '|';
}

nav .nav-link {
    text-decoration: none;
}

nav .nav-link.current {
    color: var(--main-text-accent);
}