:root {
    --main-bg-color: #203062; /* sunset-blue-dark */
    --main-text-color: #ED8A8D; /* sunset-orange */
    /* text color also looks cute on white, figure out how to incorporate somewhere? */
}

body {
    font-family: Inconsolata;
    padding: 1em;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

body.coursework {
    background-color: white;
}

h1 {
    font-family: 'Press Start 2P';
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.5em;
    font-style: italic;
}

a {
    text-decoration: none;
    color: var(--main-text-color);
}

.caption {
    font-size: 1.25em;
    font-weight: bold;
}

.red-dark {
    background-color: #9F353A;
}
.red-med {
    background-color: #E87A90;
}
.red-light {
    background-color: #F8C3CD;
}
.blue-dark {
    background-color: #005CAF;
}
.blue-med {
    background-color: #0089A7;
}
.blue-light {
    background-color: #D6E5E3;
}
.teal-dark {
    background-color: #204E4A;
}
.teal-med {
    background-color: #268785;
}
.teal-light {
    background-color: #69B0AC;
}
.green-dark {
    background-color: #227D51;
}
.green-light {
    background-color: #B4D2BA;
}
.tan {
    background-color: #DAC9A6;
}
/* sunset palette */
.sunset-blue-dark {
    background-color: #203062;
}
.sunset-blue {
    background-color: #313C79;
}
.sunset-purple-dark {
    background-color: #62486C;
}
.sunset-purple {
    background-color: #836195;
}
.sunset-red {
    background-color: #DB7082; /* against blue-dark, higher contrast, darker, also more clear against white bg */
}
.sunset-orange {
    background-color: #ED8A8D;
}
.sunset-pink {
    background-color: #F6C6CA; /* looks white against blue-dark, really really light on white  */
}
.sunset-white-dark {
    background-color: #EFEBED;
}


