h2 {
    margin-bottom: 0;
}

.blurb {
    width: 75vw;
    padding: 1.5em 1em;
    margin: 0 0;
    /* border: 2px var(--main-text-color) solid; */
    /* border-radius: 10px; */
}

section.select {
    display: inline-flex;
    flex-wrap: wrap;
}

p.highlight {
    width: 275px;
    font-size: 2rem;
    margin: 0.5rem 0.5rem;
    padding-left: 1.8rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1.3rem;
    border: 2px var(--main-text-color) solid;
    border-radius: 10px;
}

p.highlight:hover {
    background-color: var(--white);
    border-color: var(--red);
    color: var(--red);
}

p.highlight a::before {
    content: "★ ";
}