:root {
    --main-bg-color: #203062;
    --main-text-color: #ED8A8D;
    /* personal color scheme: sunset */
    --white: #EFEBED;
    --dark-blue: #313C79;
    --dark-purple: #62486C;
    --purple: #836195;
    --red: #DB7082;
    --pink: #F6C6CA;
    /* alt colors */
    /* 
    --dark-red: #9F353A;
    --red-pink: #E87A90;
    --pink: #F8C3CD;
    --blue: #005CAF;
    --blue-green: #0089A7;
    --light-blue-green: #D6E5E3;
    --dark-green: #204E4A;
    --teal: #268785;
    --light-teal: #69B0AC;
    --green: #227D51;
    --light-green: #B4D2BA;
    --tan: #DAC9A6; 
    */
}

body {
    font-family: Inconsolata, monospace, serif;
    padding: 1em;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

nav ul {
    list-style-type: none;
    padding: 0 0;
    margin: 0 0;
}

nav ul li {
    display: inline-block;
}

nav ul li + li::before {
    content: " | ";
}

nav a {
    text-decoration: none;
}

h1 {
    font-family: 'Press Start 2P', monospace, serif;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.5em;
    font-style: italic;
}

a {
    text-decoration: none;
    color: var(--main-text-color);
    font-size: 2em;
}

a.current {
    color: var(--white);
}

.caption {
    font-size: 1.25em;
    font-weight: bold;
}