* {
  font-family: 'Roboto';
  background-color: blue;
}

h1 {
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  text-align: center;
}

h3 {
  font-style: italic;
}

section {
  text-align: center;
  width: 950px;
  margin: 0 auto;
}

table {
  border: 3px solid black;
  width: 800px;
  margin: 0 auto;
}

.code, .example {
  color: white;
  font-family: 'Roboto Mono';
  background-color: black;
}

.code {
  width: 180px;
}

.code-description, .code-options {
  border-top: 2px solid black;
}

.example {
  width: 230px;
}