* {
    font-family: Inconsolata;
    box-sizing: border-box;
    text-align: center;
}

body {
    padding: 0.75em;
}

h1, h2, h3 {
    font-family: 'Press Start 2P';
}

fieldset legend {
    padding: 0.5em;
}

form {
    margin: 1em 0;
}

form input {
    padding: 0.5em;
}

#value-out, #unit {
    font-size: 2rem;
}

#select-unit {
    display: flex;
    flex-wrap: wrap;
}

#select-unit fieldset {
    width: 49%;
}

#display:empty {
    display: none;
}

#display-table {
    border-collapse: collapse;
    margin: auto auto;
    width: 50%;
}

#display-table td {
    border: 2px solid gray;
}

#display-table thead {
    background-color: lightgray;
}

@media screen and (max-width: 435px) {
    * {
        font-size: 1em;
    }

    #select-unit fieldset {
        width: 100%;
    }

    #display-table {
        width: 80%;
    }
}

@media screen and (min-width: 798px) {
    #select-unit fieldset {
        width: 100%;
    }
}